.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-add {
  background-color: #faae2b;
  font-weight:bold;
}

.btn-add:hover {
  transition: 0.5s;
  color: #fffffe;
  font-weight: bold;
}
